# Managed by devshell:
/.pre-commit-config.yaml

# Tool caches:
/.rumdl_cache/

# Build results:
result

# Local development builds:
/packages/tab-pager/.tab-pager-install/
/packages/tab-pager/build/
